* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
}

.snake {
    background-color: rgb(255, 248, 44);
    border: .25vmin solid white;


}

.food {
    background-color: brown;
    border: .25vmin solid white;

}
.head{
    background-color: aquamarine;
}
body {
    background-color: black;
    color: rgb(26, 182, 36);
    font-family: monospace;
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;

    margin: 0;
}

#board {
    border: 2px solid;
    width: 90vmin;
    height: 92vmin;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);


}

.highScore {
    color: white;
}